.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* div {
  margin-bottom: 50px;
} */

img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.img-upload {
  margin-top: 50px;
}

.labels {
  margin-top: 1em;
  margin-bottom: 1em;
}

.location, .spectators, .modality, .demographic, .posture {
  padding: 10px;
}

.demo, .spec {
  margin-left: 2.0em;
  margin-bottom: 1.0em;
}

.images {
  margin-top: 50px;
  text-align: center;
}

.category {
  font-weight: bold;
}