/**
 * references:
 *  https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4
 */


/**------------ TEMPORARY ------------**/

/*.some_temp_class {...}*/



/**------------ BASIC ITEMS ------------**/

/* Texts */
.HintText {  /* right now font is same as SubsectionName */
  /*flex: 0 0 auto; /* no wrap */
  display: inline-block;
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #AAAAAA;
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}


/* Label */

.Label {
  border: 1px solid #CCCCCC;
  border-radius: 14px;
  background-color: #FFFFFF; /* default white background */
  /* as an item */
  flex: 0 0 auto; /* no squeeze or stretch */
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
  padding: 0 12px;
  gap: 8px;
}

.LabelText {
  display: inline-block;
  flex: 0 0 auto; /* no wrap */
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.LabelList {
  /* as a container*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 8px;
}

.FilterList {
  /* as a container*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 30px; /* 28px label height + 2 * 1px border */
  gap: 16px;
}


/* Btn */

.Btn_primary {
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  box-shadow:
    0px 4px 8px rgba(170, 170, 170, 0.16),
    0px 0px 16px rgba(170, 170, 170, 0.08);
  cursor: pointer;
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
}

.Btn_secondary {
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  filter:
    drop-shadow(0px 4px 8px rgba(170, 170, 170, 0.16))
    drop-shadow(0px 0px 16px rgba(170, 170, 170, 0.08));
  cursor: pointer;
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
}

.Btn_small {
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  filter:
    drop-shadow(0px 4px 8px rgba(170, 170, 170, 0.16))
    drop-shadow(0px 0px 16px rgba(170, 170, 170, 0.08));
  cursor: pointer;
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
}


/* Checkbox */

.Checkbox {
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  gap: 8px;
}

.CheckboxText {
  display: inline-block;
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #333333;
}

.Checkbox_default {
  visibility: hidden;
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.Checkbox_default::before {
  visibility: visible;
  content: "";
  position: absolute;
  display: inline-block;
  height: 24px;
  width: 24px;
  border: none;
  background-image: url("../assets/Checkbox_bg.svg");
}
.Checkbox_default::after {  /* ::after naturally covers ::before */
  visibility: visible;
  content: "";
  position: absolute;
  display: inline-block;
  height: 24px;
  width: 24px;
  mask-image: url("../assets/Checkbox_blank.svg");
  -webkit-mask-image: url("../assets/Checkbox_blank.svg");
  background-color: var(--checkbox-color, #000000);  /* default color: black */
}
.Checkbox_default:checked::after {
  mask-image: url("../assets/Checkbox_checked.svg");
  -webkit-mask-image: url("../assets/Checkbox_checked.svg");
}
.Checkbox_default:disabled::after {
  background-color: #CCCCCC;
}
.Checkbox_default:not(:disabled):hover::after {
  filter: brightness(120%);
}

.Checkbox_checklabel {
  display: none;
  position: relative;
}
.Checkbox_checklabel:checked {
  visibility: hidden;
  display: inline-block;
}
.Checkbox_checklabel:checked:after {
  visibility: visible;
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* vertically center-align for absolute-position element */
  height: 20px;
  width: 14px; /* height and width according to size of CheckLabel_checkmark.svg */
  mask-image: url("../assets/CheckLabel_checkmark.svg");
  -webkit-mask-image: url("../assets/CheckLabel_checkmark.svg");
  background-color: var(--checkbox-color, #000000);  /* default color: black */
}

.Checkbox_spectrum_container { /* should have ≥2 children elements in this flex */
  /* as an item */
  align-self: stretch;
  /* as a container */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.Checkbox_spectrum_container::before {  /* ::before naturally covers :before */
  content: "";
  border-bottom: 2px solid #CCCCCC;
  position: absolute;
  transform: translateY(-50%);
  top: 12px; /* = 24/2, 24px is the height of one checkbox */
  height: 0px;
  left: 8px;
  right: 8px;
}
.Checkbox_spectrum {
  /* as a container */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 24px; /* height & width of one checkbox */
  gap: 8px;
}


/* Dropdown */

.Dropdown {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 4px 24px 4px 8px;
  min-width: 160px;
  min-height: 32px;
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #333333;
  cursor: pointer;
}


/* Search */

.SearchBar {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}

.SearchBarInput {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
}

.SearchBar_container {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.SearchRange_expanded {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.SearchRange_collapsed {
  /* as an container */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /*align-items: center;*/
  gap: 16px;
}

.SearchRangeHeader {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.SearchRangeCheckboxes {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

.SearchRangeCheckbox {
  /* as an item */
  grid-column: span 1;
}

.SearchRangeDots { /* array of dots */
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.SearchRangeDot { /* a single dot */
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
}


/* SearchableDropdown (SD) */

.SearchableDropdown {
  /* as an item */
  align-self: stretch;
  /* as a container */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}

.SearchableDropdown_expandbtn {
  position: absolute;
  top: 10px; /* ((28 + 2 * 8) - 24) / 2 = 10 */
  right: 4px;
}

.SDSelectedLabelList_collapsed {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: row;
  height: 28px; /* label height = 28px, no wrapping because only 1 row is allowed when drop-down is collapsed */
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  border: none;
  outline: none;
  margin-right: 32px; /* arrow btn width 24 + gap 8 = 32 */
  overflow-x: hidden;
}

.SDSelectedLabelList_expanded {  /* right now same as LabelList */
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: row;
  min-height: 28px; /*label height*/
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  border: none;
  outline: none;
}

.CustomizeLabel {
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.CustomizeLabel_field {
  width: 240px;
  height: 32px;
  padding: 8px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  outline: none;
}

.CustomizeLabel_container {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
  border-top: 1px solid #CCCCCC;
  gap: 8px;
}


/* Humanfigure */

.ModalityDisplay {
  /* as a container */
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.ModalityDisplay_statelist {
  /* as an item */
  width: 240px;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.ModalityDisplay_state {
  /* as an item */
  width: 100%;
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Humanfigure_container {
  /*margin-top: -275px; /* to correct for the top margin caused by svg? TODO: improve*/
  position: relative;
  height: 250px;
  width: 250px;
}

/* reference: https://stackoverflow.com/questions/6300635/how-to-make-an-element-transparent-to-clicks-but-still-visible */
.Humanfigure_outline {
  position: absolute;
  margin-left: 58.5px;
  top: 36px;
  /*top: 278px;*/
  z-index: 1;
  pointer-events: none;
  /*height: 120%;
  width: auto;*/
}

.Humanfigure_highlights {
  position: absolute;
  width: 250px;
  padding-top: 10px;
  height: 250px;
  display: block;
  margin: 40px auto;
}

.Humanfigure_highlights svg:hover {
  cursor: pointer;
}
.Humanfigure_highlights svg:hover path {
  filter: brightness(120%);
}

.Humanfigure_highlights svg.unavailable path {
  fill: #A0D568;
}
.Humanfigure_highlights svg.unavailable path {
  fill: #ED5564;
}
.Humanfigure_highlights svg.any path {
  fill: #4FC1E814; /* #XXXXXX14 = 8% opacity */
}

.Humanfigure_highlights svg {
  position: absolute;
  left: 50%;
}

.Humanfigure_highlights svg#head {
  margin-left: -25.4px;
  top: -5px;
}
.Humanfigure_highlights svg#l_arm {
  margin-left: -50px;
  top: 58px;
}
.Humanfigure_highlights svg#r_arm {
  margin-left: 13.5px;
  top: 58px;
}
.Humanfigure_highlights svg#l_hand {
  margin-left: -66.7px;
  top: 109px;
}
.Humanfigure_highlights svg#r_hand {
  margin-left: 36.5px;
  top: 109px;
}
.Humanfigure_highlights svg#facial_expression {
  margin-left: -17.5px;
  top: 1px;
}
.Humanfigure_highlights svg#eyes {
  margin-left: -15.5px;
  top: 20px;
}
.Humanfigure_highlights svg#voice {
  margin-left: -9.5px;
  top: 38px;
}
.Humanfigure_highlights svg#legs {
  margin-left: -25.4px;
  top: 120px;
}
.Humanfigure_highlights svg#feet {
  margin-left: -26.5px;
  top: 215px;
}


/* RequiredField indicator */
.RequiredField {
  color: #ED556480; /* #XXXXXX80 = 50% opacity */
}


/* DescriptionHover */

.DescriptionHover {
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 12px; /* 4px gap + 8px arrow width */
}

.DescriptionBtn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-shadow: rgb(70, 99, 162) 0 0px 2px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: help; /*cursor: pointer;*/
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 10px;
  font-weight: 500;
  height: 14px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: 100%;
  max-width: 100%;
  overflow: visible;
  padding: 2px 4px;
  position: relative;
  text-align: center;
  /*text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;*/
}

.DescriptionBtn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.DescriptionBtn:hover ~ .DescriptionTextBox_container {
  display: inline-flex;
}

.DescriptionTextBox_container { /* position constrainer of DescriptionTextBox */
  display: none; /* hidden by default */
  /*display: inline-flex; /*DEBUG*/
  z-index: 10; /* top layer */
  /* as a container */
  position: relative;
  align-items: center;
  max-width: 240px;
  min-width: 100px;
  /* TODO: better max-width and min-width */
  height: 0px; /* constrain vertical position */
}

.DescriptionTextBox {
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  background-color: #EEEEEE;
  border-radius: 2px;
}

/* reference: https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.DescriptionTextBox:after {  /* little triangle arrow */
  content: "";
  border: 8px solid;
  border-color: transparent #EEEEEE transparent transparent; /* matches background color of the textbox */
  position: absolute;  
  left: -15px; 
  transform: translateY(-50%);
  top: 50%;
}

.DescriptionText {
  pointer-events: none; /* make transparent for clicking */
  /* as an item */
  flex-grow: 1;
  align-self: stretch;
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color:#3c4043d7
}


/* Accordion: Module & AccordionSection */

.Module {  /* non-collapsable */
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  border-bottom: 1px solid #CCCCCC;
}

.ModuleHeaderBar {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.AccordionSection {  /* collapsable, right now the same as Module */
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  border-bottom: 1px solid #CCCCCC;
}

.AccordionSectionHeaderBar {  /* right now the same as ModuleHeaderBar */
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.SectionHeader {  /* section name + description. right now same as CategoryHeader */
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.SectionName {  /* right now same as CategoryName */
  /* as an item */
  flex: 0 0 auto; /* no wrap */
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000000; /* default color: black */
  filter: brightness(80%); /* darkern the colors a bit for readability */
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
}

.Subsections {  /* container for all subsections, right now same as FormSubcategories */
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.Subsection {  /* right now same as FormSubcategories */
  /*as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.SubsectionName {  /* right now font is same as SubcategoryName */
  /* as an item */
  flex: 0 0 auto; /* no wrap */
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #AAAAAA;
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
}



/**------------ BIG BLOCKS ------------**/

/* PageBox */
.PageBox {
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 40px;
  /*float:right;
  margin-right:0;*/
}


/* WaitingRoom */

.WaitingRoom {
  height: calc(100vh - 40px); /* minus height of Navbar */
  /* as an item */
  flex-grow: 1;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.WaitingRoomControl {
  /*position: absolute;
  left: 0;
  top: 0;*/
  /* as an item */
  align-self: stretch;
  /* as a container */
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px 40px;
}

.WaitingRoomControl_addpic {
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.WaitingRoomControl_selectpic {  /* right now same as WaitingRoomControl_addpic */
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.WaitingRoomControl_uploadpic {  /* right now same as WaitingRoomControl_addpic */
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.WaitingRoomGallery {
  overflow-y: scroll;
  /* as an item */
  align-self: stretch;
  flex-grow: 1;
  /* as a container */
  background-color: #F0ECEC; /* matches with About page */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 24px 40px 40px;
  gap: 24px;
}

.WaitingPic_container {
  position: relative;
}

.WaitingPic {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
  cursor: pointer;
}
.WaitingPic[src=""] {
  display: none;
}

.WaitingPicProgress {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 40px;
  height: 40px;
}


/* PopUp Labeling Window */

.PopUpOverlay {  /* old name "modal" */
  position: fixed;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: #00000080; /* #XXXXXX80 = 50% opacity */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.UploadPopUpModal {  /* old name modal_content */
  /* as a container */
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden; /* to apply border-radius to all inner elements */
  border: 2px solid rgb(234, 197, 197);
  width: 100%;
  height: 100%;
}

.UploadPopUpModal_container {
  position: absolute;
  /* centerize absolute-postion element */
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 70%;
  height: 80%;
  min-width: 1000px;
}

.UploadPopUpPic {
  display: block;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 10px; /* margin for absolute-position element. See reference: https://stackoverflow.com/questions/17115344/absolute-positioning-ignoring-padding-of-parent */
}

.UploadPopUpPic_container {
  /* as an item */
  flex-grow: 1;
  /* as a container */
  position: relative;
  background-color: rgb(234, 197, 197);
}

.PopUpClose {
  cursor: pointer;
  position: absolute;
  transform: translate(100%, -100%);
  top: -8px;
  right: -8px;
}
.PopUpClose:hover {
  /*color: cyan;*/
  filter: brightness(120%);
}


/* LabelsForm */

.LabelsForm {
  overflow-y: scroll;
  width: 40%;
  max-width: 640px;
  min-width: 560px;
  max-height: 100%;
  border-left: 1px solid #CCCCCC; /* TODO: dropshadow */
  /* as an item */
  flex-grow: 0;
  /* as a container */
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.FormCategory {
  border-bottom: 1px solid #CCCCCC;
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
}

.CategoryHeader {
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.CategoryName {
  /* as an item */
  flex: 0 0 auto; /* no wrap */
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
  filter: brightness(80%); /* darkern the colors a bit for readability */
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
}

.CategoryIcon {
  height: 24px;
  width: 24px; /* height and width according to CategoryIcons */
  background-color: var(--categoryicon-color, #000000);  /* default color: black */
}
.CategoryIcon_Location {
  mask-image: url("../assets/CategoryIcon_Location.png");
  -webkit-mask-image: url("../assets/CategoryIcon_Location.png");
}
.CategoryIcon_Spectators {
  mask-image: url("../assets/CategoryIcon_Spectators.png");
  -webkit-mask-image: url("../assets/CategoryIcon_Spectators.png");
}
.CategoryIcon_Demographic {
  mask-image: url("../assets/CategoryIcon_Demographic.png");
  -webkit-mask-image: url("../assets/CategoryIcon_Demographic.png");
}
.CategoryIcon_Modality {
  mask-image: url("../assets/CategoryIcon_Modality.png");
  -webkit-mask-image: url("../assets/CategoryIcon_Modality.png");
}
.CategoryIcon_Posture {
  mask-image: url("../assets/CategoryIcon_Posture.png");
  -webkit-mask-image: url("../assets/CategoryIcon_Posture.png");
}

.FormSubcategories {  /* container for all subcategories */
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.FormSubcategory {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.SubcategoryHeader {  /* right now same as CategoryHeader */
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.SubcategoryName {
  /* as an item */
  flex: 0 0 auto; /* no wrap */
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #AAAAAA;
  /* as a container */
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
}


/* ExploreGallery */

.ExploreGallery {
  height: calc(100vh - 40px); /* minus height of Navbar */
  width: 75vw; /* twin: FacetMenu width 25vw */
  /* as an item */
  flex-grow: 1;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Gallery {
  overflow-y: scroll;
  /* as a container */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 24px 40px 40px;
  gap: 24px;
}

.ExplorePic {
  max-width: 300px;
  max-height: 200px;
  /*max-width: 180px;
  max-height: 135px;*/
  object-fit: contain;
}
.ExplorePic[src=""] {
  display: none;
}

.ExploreGalleryHeader {
  /* as an item */
  align-self: stretch;
  /* as a container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 40px;
  gap: 16px;
  border-bottom: 1px solid #CCCCCC;
}

.AppliedFilters {
  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.AppliedFiltersList {
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 72px;
  /*overflow-y: scroll;*/
}


/* Facet */

.FacetMenu {
  /*position: absolute;
  left: 0px;
  top: 0px;*/
  height: calc(100vh - 40px); /* minus height of Navbar */
  width: 25vw; /* twin: ExploreGallery width 75vw */
  max-width: 640px;
  min-width: 400px;
  border-right: 1px solid #CCCCCC; /* TODO: dropshadow */
  /*box-shadow:
    8px 0px 16px rgba(170, 170, 170, 0.16),
    0px 0px 40px 8px rgba(204, 204, 204, 0.25);*/
  /* as an item */
  flex-grow: 0;
  /* as a container (module layout) */
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Facet {
  overflow-y: scroll;
  /* as an item */
  align-self: stretch;
}


/* Navbar */

.Navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 40px;
  width: 100vw;
  /* as a container */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 64px;
  background: #FFFFFF;
  z-index: 10;
  border-bottom: 1px solid #CCCCCC;
}

.Navtab {
  /* as an element */
  flex-grow: 0;
  /* as a container */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  /* padding: 4px; */
  /* font */
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  text-decoration-line: none;
}
.Navtab.active {
  font-weight: 700;
  letter-spacing: 0.003em;
  text-decoration-line: underline;
}

/* About Page*/

.AboutPageBox {
  background-color: #f0ecec;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center
}
.Home img {
  display: block;
  margin-left: auto;
  margin-top: 100px;
  margin-right: 100px;
  flex-basis: 40%;
  width: 45%;
}

.Home h5 {
  margin-left: 200px;
  margin-top: 100px;
  font-size: 45px;
  font-weight: bold;
}

.Intro {
  margin-top: 250px;
  display: flex;
  position: relative;
  height: 80px;
}

.Intro img {
  margin-top: 0px;
  margin-left: 300px;
  width: 150px;
  height: auto;
  align-self: center;
}

.Intro h5 {
  align-self: flex-start;
  margin-top: 25px;
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
}

.IntroText {
  margin-top: -50px;
  width: 50%;
  line-height: 200%;
  margin-left: auto;
  margin-right: auto;
  width: 55em;
}

.Problems {
  margin-top: 100px;
  position: relative;
  height: 1300px;
}

.Problems h5 {
  margin-top: 200px;
  margin-left: 300px;
  font-size: 40px;
  font-weight: bold;
}

.Box {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  width: 700px;
  height: 350px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0dcdc;
}

.Box p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 40em;
  line-height: 200%;
}

.Sample {
  margin-top: 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 80px;
}

/* Create two equal columns that floats next to each other */
.column {
  float:left;
  flex: 25%;
  padding: 10px;
}

.column img {
  margin-top: 20px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.Sample h5 {
  align-self: flex-start;
  margin-top: 25px;
  margin-left: 100px;
  font-size: 40px;
  font-weight: bold;
}

.Team {
  margin-top: 50px;
  display: flex;
  position: relative;
  height: 474px;
}

.Team h5 {
  margin-left: 200px;
  margin-top: 100px;
  font-size: 45px;
  font-weight: bold;
}

.Contribution {
  margin-top: 100px;
  display: flex;
  position: relative;
  height: 325px;
}

.Contributor {
  margin-top: 0px;
  margin-left: 400px;
  width: 150px;
  height: auto;
  align-self: center;
}

.ContributorTitle{
  margin-left: -25px;
  font-size: 25px;
  font-weight: bold;
}

.Contributor h1 {
  margin-left: 25px;
  font-size: 45px;
}

.Images {
  margin-top: 0px;
  margin-left: 150px;
  width: 150px;
  height: auto;
  align-self: center;
}

.ImageTitle {
  margin-left: 0px;
  font-size: 25px;
  font-weight: bold;
}

.Images h1 {
  margin-left: 10px;
  font-size: 45px;
}

.Locations {
  margin-top: 0px;
  margin-left: 150px;
  width: 150px;
  height: auto;
  align-self: center;
}

.LocationTitle {
  margin-left: -5px;
  font-size: 25px;
  font-weight: bold;
}

.Locations h1 {
  margin-left: 20px;
  font-size: 45px;
}